* {
    margin: 0;
    padding: 0;
}

img {
    height: 150px;
    width: 200px;
}

.navbarWrapper{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.navbarWrapper .logo {
    object-fit: contain;
}

.mainArea{
    background-color: #ed5a35;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.text{
    margin-top: 100px;
    text-align: center;
}

.text h1{
    margin-bottom: 30px;
}
